.forecast {
  border: black;
  border-style: solid;
  border-width: 1px;
}

.location {
  border: black;
  border-style: black;
  border-width: 1px;
  width: 20%;
}

.fiveday {
  border: black;
  border-style: black;
  border-width: 1px;
}

.container {
}

.city {
}

.temp {
}

.wind {
}

.humidity {
}

#searchBtn {
}
