.col-4 {
  border: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 5px;
  width: 30%;
  height: 350px;
  margin: 5px;
}

.col-6 {
  border: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 5px;
  width: 70%;
  height: 350px;
  margin: 5px;
}

.col-10 {
  border: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 5px;
  width: 90%;
  height: 250px;
  margin: 5px;
}

.container {
  margin: 0 auto;
  align-items: center;
}
