body {
  background-color: antiquewhite;
}

.input-group {
  margin-bottom: 10px;
}
.col-4 {
  border: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 5px;
  background-color: white;
  width: 30%;
  height: 350px;
  margin: 5px;
  padding: 10px;
}

.col-6 {
  border: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 5px;
  background-color: white;
  width: 70%;
  height: 350px;
  margin: 5px;
  padding: 5px;
}

.col-10 {
  border: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 5px;
  background-color: white;
  width: 90%;
  height: 235px;
  margin: 5px;
}

.col-2 {
  border: solid;
  border-width: 2px;
  border-color: black;
  border-radius: 5px;
  height: 200px;
  width: 15%;
  margin: 15px;
}

.container {
  margin: 0 auto;
  align-items: center;
}

#add-city {
  width: 50px;
}

.city {
}

.wind {
  font-size: 25px;
}

.humidity {
  font-size: 25px;
}

.temp {
  font-size: 25px;
}
